<div class="container" style="padding-top: 2rem; padding-bottom: 2rem">
  <div class="row">
    <div class="col-4 col-md-12">
      <ul class="list-group">
        <li class="list-group-item">
          Tender Description {{ tender.description }}
        </li>
        <li class="list-group-item">Bidder User {{ user.name }}</li>
        <li class="list-group-item">
          TotalRate :
          {{ notification.totalRate }}
        </li>
        <li class="list-group-item">
          Date :
          {{ notification.submissionDateTime }}
        </li>
      </ul>
    </div>
  </div>
</div>
