<div class="grid gap-3" style="padding-right: 1rem; padding-top: 0.7rem">
  <i
    (click)="showNotification()"
    class="pi pi-bell mr-4 p-text-secondary"
    pBadge
    style="font-size: 2rem"
    value="{{unRead()}}"
  ></i>
</div>
<p-dialog
  header="Notifications"
  [(visible)]="notificationDisplay"
  [position]="position"
  [modal]="true"
  [style]="{ width: '30vw' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
  [blockScroll]="true"
>
  <ul class="list-group" *ngFor="let dto of notifications">
    <li class="list-group-item" *ngIf="!dto.click" ngClass="notificationNew"
    (click)="notificationDetail(dto.tenderId,dto.bidderId)">
      Tender Id : {{ dto.tenderId }} Bidder Id : {{ dto.bidderId }} TotalRate :
      {{ dto.totalRate }}
      <i
      class="pi pi-circle-fill"
      style="padding-top: 0.3rem; float: right; color: rgb(126, 4, 148)"
    ></i>
      <span style="float: right;padding-right: 0.3rem;font-size: 10px;padding-top: 0.4rem;">{{
        dateDifference(dto.submissionDateTime)
      }}</span>
    </li>
    <li class="list-group-item" *ngIf="dto.click" ngClass="notificationOld"
    (click)="notificationDetail(dto.tenderId,dto.bidderId)">
      Tender Id : {{ dto.tenderId }} Bidder Id : {{ dto.bidderId }} TotalRate :
      {{ dto.totalRate }}
      <span style="float: right;padding-right: 0.3rem;font-size: 10px;padding-top: 0.4rem;">{{
        dateDifference(dto.submissionDateTime)
      }}</span>
    </li>
  </ul>
</p-dialog>
