
  <button (click)="showModalDialog()" pButton pRipple type="button" label="Create" icon="pi pi-upload"
  class="p-button p-button-primary p-button-sm"></button>


<p-dialog header="Tender Create" [(visible)]="displayModal" [modal]="true" [style]="{ width: '50vw',height: '100vh' }"
  [baseZIndex]="10000" [draggable]="false" [resizable]="false">
  <form [formGroup]="createForm">
    <br />
    <div class="mb-3">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <input id="float-input" formControlName="description" type="text" pInputText />
          <label for="float-input">Description</label>
        </span>
      </div>
    </div>
  </form>
  <ng-template pTemplate="footer">
    <button pButton pRipple type="button" (click)="create()" label="Save" icon="pi pi-save"
      class="p-button p-button-primary p-button-sm"></button>
  </ng-template>
</p-dialog>