<button
  (click)="showModalDialog()"
  pButton
  pRipple
  type="button"
  icon="pi pi-plus"
  class="p-button-rounded p-button-primary p-button-sm"
></button>
<p-dialog
  header="Item Rate"
  [(visible)]="displayModal"
  [modal]="true"
  [style]="{ width: '40vw', height: '45vh' }"
  [baseZIndex]="10000"
  [draggable]="false"
  [resizable]="false"
>
  <form [formGroup]="rateForm">
    <br />
    <div class="mb-3">
      <div class="p-inputgroup">
        <span class="p-float-label">
          <p-inputNumber
            [showButtons]="true"
            formControlName="rate"
            buttonLayout="horizontal"
            inputId="horizontal"
            spinnerMode="horizontal"
            [step]="1"
            [min]="0"
            decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
          >
          </p-inputNumber>
          <label for="float-input">Rate</label>
        </span>
      </div>
    </div>
    <br />
  </form>
  <ng-template pTemplate="footer">
    <button
      pButton
      pRipple
      type="button"
      label="Rate"
      icon="pi pi-upload"
      (click)="save()"
      class="p-button p-button-primary p-button-sm"
      [loading]="isSaving"
    ></button>
  </ng-template>
</p-dialog>
